<header class="navbar fixed w-full top-0">
	<div class="flex flex-row items-center py-10 space-x-16 bg-white">
		<a href="" class="basis-1/6">
			<i data-feather="menu" class="size-10 mx-auto text-gray-700"></i>
		</a>
		<p class="basis-5/6 text-5xl text-blue-700 font-cabin font-bold tracking-wide">
			<a href="">{{ .Title }}</a>
		</p>
		<a href="" class="basis-1/6">
			<i data-feather="search" class="size-10 mx-auto text-gray-700"></i>
		</a>
	</div>
</header>

<section class="fixed w-full h-screen bg-white hidden">
	<div class="flex flex-row items-center py-10 border-b-2 border-b-gray-300">
		<p class="mx-auto text-5xl text-blue-700 font-cabin font-bold tracking-wide">
			<a href="">{{ .Title }}</a>
		</p>
		<a href="" class="float-right mr-10">
			<i data-feather="x" class="size-10 mx-auto text-gray-700"></i>
		</a>
	</div>
	menu
</section>

<section class="banner w-full bg-gray-100">
	<div class="flex flex-col items-center space-y-12 px-10 pb-16">
		<img class="banner-img size-fit" src="assets/images/banner.jpeg">
		<h1 class="banner-title text-7xl font-cabin tracking-wider text-gray-700">Neque porro
			quisquam</h1>
		<p class="banner-desc text-4xl font-cabin tracking-wide leading-normal text-gray-500">Est qui dolorem
			ipsum
			quia dolor
			sit amet,
			consectetur, adipisci velit...</p>
		<a href=""
			class="banner-cta w-full bg-blue-700 rounded-lg text-4xl text-white font-cabin tracking-wider font-bold text-center py-10">
			<p class="inline-flex">
				Enroll Now <i data-feather="arrow-right" class="size-10"></i>
			</p>

		</a>
	</div>
</section>
