<header class="w-full fixed top-0">
	<nav class="flex flex-row py-5 bg-white">
		<p class="basis-5/6 ml-5 text-2xl text-indigo-700 font-cabin font-bold tracking-wide">
			{{ .Title }}
		</p>
		<a href="/login" class="basis-1/6 mr-5 text-sm text-white px-5 py-2 bg-indigo-500 rounded">
			Join
		</a>
	</nav>
</header>

<div id="main">
	<section class="banner w-full bg-gray-100">
		<div class="flex flex-col space-y-4 px-5 pb-16">
			<img class="banner-img size-fit" src="assets/images/banner.jpeg">
			<h1 class="banner-title text-3xl text-center font-cabin tracking-wider text-gray-700">Neque
				porro
				quisquam</h1>
			<p class="banner-desc text-center font-cabin tracking-wide leading-normal text-gray-500">Est qui
				dolorem
				ipsum
				quia dolor
				sit amet,
				consectetur, adipisci velit...</p>
			<a href="" class="banner-cta flex justify-center w-full bg-indigo-700 rounded py-3 mt-10">
				<p
					class="inline-flex items-center text-white font-cabin tracking-wider font-bold text-center">
					Explore
					<svg xmlns=" http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
						stroke-width="1.5" stroke="currentColor"
						class="size-5 ml-2 justify-center">
						<path stroke-linecap="round" stroke-linejoin="round"
							d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
					</svg>
				</p>

			</a>
		</div>
	</section>

</div>
