<header class="w-full">
	<nav class="flex flex-row items-center py-5 bg-white">
		<p class="basis-5/6 ml-5 text-2xl text-indigo-700 font-cabin font-bold tracking-wide">
			{{ .Title }}
		</p>
		<a href="/" class="basis-1/6 mr-5">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
				stroke="currentColor" class="size-5 ml-auto text-indigo-700">
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
			</svg>
		</a>
	</nav>
</header>

<div id="main">
	<section class="join w-full h-screen bg-gray-100">
		<div class="flex flex-col items-center px-5">
			<h1 class="py-4 text-2xl font-cabin font-bold tracking-wide">Join Us</h1>
			<form class="w-full p-5 space-y-6 rounded">
				<div>
					<label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
					<div class="mt-2">
						<input id="email" name="email" type="email" autocomplete="email"
							required
							class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 leading-6">
					</div>
				</div>
				<div>
					<label for="email"
						class="block text-sm font-medium leading-6 text-gray-900">Password</label>
					<div class="mt-2">
						<input id="password" name="password" type="password" required
							class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 leading-6">
					</div>
				</div>
				<div>
					<label for="email"
						class="block text-sm font-medium leading-6 text-gray-900">Confirm Password</label>
					<div class="mt-2">
						<input id="confirm-password" name="confirm-password" type="password" required
							class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 leading-6">
					</div>
				</div>
				<button type="submit" class="w-full py-2 font-cabin text-center text-white bg-indigo-600 rounded">Login</button>
				<div class="w-full text-sm inline-block">
					<p class="text-left">Already have an account?</p>
					<a href="/login" class="text-right text-indigo-600">Login</a>
				</div>
			</form>
		</div>
	</section>

</div>
